:root {
    --dark: #373e51;
    --darker: #1f2637;
    --darkest: #111727;
    --grey: #6b7280;
    --light: #EEE;
    --gold: #ffd700;
    --olive: #808000;
    --gradient-primary: linear-gradient(to right, #141e30, #243b55);
    --gradient-gold-olive: linear-gradient(to right, var(--gold), var(--olive));
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--gradient-primary);
    color: var(--light);
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--gold);
    text-transform: uppercase;
    letter-spacing: 2px;
    background: var(--gradient-gold-olive);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

header p {
    font-size: 1.2rem;
    color: var(--grey);
    margin-bottom: 2rem;
}

#new-task-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

input {
    flex: 1 1 0%;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--darker);
    color: var(--light);
    font-size: 1rem;
    margin-right: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

input::placeholder {
    color: var(--grey);
    font-style: italic;
}

button {
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    color: #fff;
    text-transform: uppercase;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#new-task-submit {
    background: var(--gradient-gold-olive);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.task-list h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--grey);
    margin-bottom: 1rem;
}

.task {
    background-color: var(--darkest);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task .content {
    flex: 1;
}

.task .content .text {
    color: var(--light);
    font-size: 1.25rem;
    transition: color 0.3s;
    width: 100%;
    display: block;
}

.task .content .text:not(:read-only) {
    color: var(--gold);
}

.task .actions {
    display: flex;
    gap: 1rem;
}

.task .actions .edit {
    background: var(--gradient-gold-olive);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.task .actions .delete {
    background-color: crimson;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 700;
}

.task .actions .delete:hover {
    opacity: 0.8;
}

footer {
    text-align: center;
    padding: 1.5rem;
    color: var(--grey);
    font-size: 0.9rem;
    background-color: var(--darker);
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer span {
    background: var(--gradient-gold-olive);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

